@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #f2f2f2;
}
:root{
    --black: #000;
    --background-black: #080808;
    --white: #fff;
    --apple-light-gray: rgba(160, 160, 160, 1);
    --apple-dark-gray: rgba(49, 49, 49, 1);
    --apple-orange: rgba(246, 153, 6, 1);
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: row;
    padding: 30px;
}
.phone-frame{
    width: 300px;
    height: 600px;
    background-color: var(--black);
    border-radius: 50px;
    padding: 10px;
    border: 3px solid var(--apple-dark-gray);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
.phone-body{
    width: 100%;
    height: 100%;
    background-color: var(--background-black);
    border-radius: 40px;
}
/*STATUS-BAR*/
.status-bar{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    color: var(--white);
}
.time{
    display: flex;
    justify-content: center;
    width: 20%;
    font-weight: 500;
    margin: 0 0 0 10px;
    font-size: 12px;
}
.time p{
    letter-spacing: .5px;
}
.notch{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    border-radius: 2px 2px 15px 15px;
    height: 23px;
    background-color: var(--black);
}
.notch img{
    width: 35px;
}
.signal-wifi-battery{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 10px;
    margin: 0 10px 0 0;
}
.signal-wifi-battery i{
    margin: 0 7px 0 0;
}
/*MAIN*/
.result{
    position: relative;
    top: 17%;
}
.calculation{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.calculation p{
    color: var(--white);
    font-size: 60px;
    font-weight: 300;
}
.numbers{
    color: var(--white);
}
.numbers{
    height: 60%;
    position: relative;
    top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
}
.numbers button{
    border-radius: 50%;
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}
.numbers .light-gray-btn{
    background-color: var(--apple-light-gray);
}
.numbers .dark-gray-btn{
    background-color: var(--apple-dark-gray);
    color: var(--white);
}
.numbers .dark-gray-btn #null{
    grid-column: 1/2;
}
.numbers .orange-btn{
    background-color: var(--apple-orange);
    color: var(--white);
}
/*BOTTOM-LINE*/
.bottom-line-container{
    display: flex;
    justify-content: center;
    position: relative;
    top: 18%;
}
.bottom-line{
    width: 35%;
    height: 4px;
    border-radius: 10px;
    background-color: var(--white);
}
